{% load form_table_tags %}
{% load el_pagination_tags %}
{% get_pages %}
<div class="row">
    <div class="col-sm-5">
        <div class="dataTables_info" id="example2_info" role="status" aria-live="polite">Showing {% show_page_data_index %}
            of {{ table_datas.count }} entries
        </div>
    </div>
    <div class="col-sm-7">
        <div class="dataTables_paginate paging_simple_numbers" id="example2_paginate">
            <ul class="pagination">
                <li>{{ pages.first_as_arrow }}</li>
                <li>{{ pages.previous }}</li>
                {% autoescape off %}
                    {% make_pagination %}
                {% endautoescape %}
                <li>{{ pages.next }}</li>
                <li>{{ pages.last_as_arrow }}</li>
            </ul>
        </div>
    </div>
</div>