{% extends "base/simple_table.html" %}
{% block table_head %}
    <tr>
        <th>昵称</th>
        <th>头像</th>
        <th>性别</th>
        <th>所在地区</th>
        <th>content</th>
        <th>时间</th>

    </tr>
{% endblock %}

{% block table_datas %}
    {% for foo in messages %}
        <tr>
            <td>{{ foo.form_user.nickname }}</td>
            <td><img style="width: 30px;height: auto;" src="{{ foo.form_user.headimgurl }}"></td>
            <td>{{ foo.form_user.get_sex_display }}</td>
            <td>{{ foo.form_user.get_areas_display }}</td>
            <td>{{ foo.content }}</td>
            <td>{{ foo.created_at }}</td>

        </tr>
    {% endfor %}

{% endblock %}loc %}