{% extends "base/simple_table.html" %}
{% load el_pagination_tags %}
{% load form_table_tags %}
{% block table_head %}
    <tr>
        <th>昵称</th>
        <th>头像</th>
        <th>性别</th>
        <th>所在地区</th>
        <th>content</th>
        <th>时间</th>
        <th>回复</th>

    </tr>
{% endblock %}

{% block table_datas %}
    {% get_pc %}

        {% paginate pc messages %}
    {% for foo in messages %}
        <tr>
            <td>{{ foo.form_user.nickname }}</td>
            <td><img style="width: 30px;height: auto;" src="{{ foo.form_user.headimgurl }}"></td>
            <td>{{ foo.form_user.get_sex_display }}</td>
            <td>{{ foo.form_user.get_areas_display }}</td>
            <td>{{ foo.content }}</td>
            <td>{{ foo.created_at }}</td>
            <td></td>

        </tr>
    {% endfor %}

{% endblock %}
{% block pagination %}
    {% autoescape off %}

    {% include "base/pagination.html" %}
    {% endautoescape %}

{% endblock %}