{% extends "base/simple_table.html" %}
{% load el_pagination_tags %}
{% load form_table_tags %}
{% block table_head %}
    <tr>
    <th>序号</th>
        <th>昵称</th>
        <th>头像</th>
        <th>性别</th>
        <th>所在地区</th>
        <th>内容</th>
        <th>内容类型</th>
        <th>时间</th>
        <th>回复</th>

    </tr>
{% endblock %}

{% block table_datas %}
    <td>{% create_show_index  forloop.counter%}</td>
    <td>{{ foo.form_user.nickname }}</td>
    <td><img style="width: 30px;height: auto;" src="{{ foo.form_user.headimgurl }}"></td>
    <td>{{ foo.form_user.get_sex_display }}</td>
    <td>{{ foo.form_user.get_areas_display }}</td>
    <td>{{ foo.display }} </td>
    <td>{{ foo.get_type_display }}</td>
    <td>{{ foo.created_at }}</td>
    <td>{{ foo.response.content }}</td>
    <td></td>

{% endblock %}
