{% extends "base/editable_table.html" %}
{% load static %}
{% load form_table_tags %}
{% block table_head %}
    <tr>
        <th>选择</th>
        <th>序号</th>
        <th>回复类型</th>
        <th>内容</th>
        <th>关键字</th>
        <th>操作</th>
    </tr>
{% endblock %}
{% block table_datas %}

    <td data-delete-id="{{ foo.id }}"><input type="checkbox" title=""></td>
    <td>{% create_show_index forloop.counter %}</td>
    <td>{{ foo.get_content_type_display }}</td>
    <td>{{ foo.content }}</td>
    <td>{{ foo.keywords }}</td>
    {% autoescape off %}

        <td>{{ foo|create_action }}</td>
    {% endautoescape %}




{% endblock %}
{% block custom_js %}

    <script src="{% static "custom-js/wechat-manage/reply.js" %}"></script>
{% endblock %}