{% extends "base/editable_table.html" %}
{% load form_table_tags %}
{% block table_datas %}
    {% autoescape off %}

        {{ foo | create_choose_html }}
    {% endautoescape %}

    <td>{% create_show_index forloop.counter %}</td>
    <td>{{ foo.name }}</td>
    <td>{{ foo.create_time }}</td>
    <td>{{ foo.start_date }}</td>
    <td>{{ foo.end_date }}</td>
    <td>
        {% if  foo.status %}
            开启
        {% else %}
            关闭
        {% endif %}
    </td>
    {% autoescape off %}
        <td><a href="{% url  '激活码管理'  publicid=foo.public.id %}?activityid={{ foo.id }}">激活码管理</a></td>
        <td>{{ foo | create_action }}</td>
    {% endautoescape %}

{% endblock %}
