{% extends "base/editable_table.html" %}
{% load form_table_tags %}
{% block table_datas %}
{% autoescape off %}
    <td>{% create_show_index forloop.counter %}</td>
    <td>{{  foo.activity.name }}</td>
    <td>{{ foo.created_time }}</td>
    <td>{{ foo.create_user }}</td>
    <td>{{ foo.exchange_code }}</td>
    <td>
{% if foo.status%}
    已领取
	{% else %}
    未领取
	{% endif %}
	</td>
    <td>{{ foo.receiver_follower }}</td>
    <td>{{ foo.received_time }}</td>

{% endautoescape %}

{% endblock %}