{% extends "base/form.html" %}
{% block js %}

    <!--suppress ALL -->
    <script>
        {#    判断是否为处理1级菜单，如果是1级菜单，隐藏选择上级菜单选项#}
        $(document).ready(function () {
            var level_label = $('[name=menu_level]');
            var parent_index_label = $('[name=parent_menu]').parent().parent();
            level_label.change(function () {
                var level = $(this).val();
                if (level == "1") {
                    parent_index_label.hide();
                }
                else {
                    parent_index_label.show();
                }

            })
            {#            动态绑定选择功能和填写网址#}
            var info_label = $('[name=menu_info]').parent().parent().children('label');
            var feather_label = $('[name=feathers]').parent().parent();
            var url_label = $('[name=url]').parent().parent();
            {#            初始化当前菜单类型#}
            {#            根据菜单类型，隐藏不属于当前类型的输入项#}
            var menu_cate_init = $('[name=menu_cates]').val();
            if (menu_cate_init == 'view') {
                feather_label.hide();
            }
            else if (menu_cate_init == 'click') {
                url_label.hide();
            }
            else {
                feather_label.hide();
                url_label.hide();
            }
            $('[name=menu_cates]').change(function (e) {
                    var menu_level=$('[name=menu_level]')
                if (menu_level.val() == 2 && $(this).val()=='as_parent') {
                    alert('二级菜单类型不允许设置为弹出子菜单');
                    $(this).val("click");
                }

                var current_menu_type = $(this).val()
                switch (current_menu_type) {
                    case 'click':
                        feather_label.show();
                        url_label.hide();
                        url_label.find('input').prop('required', false);
                        break;
                    case "view":
                        feather_label.hide();
                        url_label.show();
                        url_label.find('input').prop('required', true);
                        break;

                }
            })


        })
    </script>
{% endblock %}