{% extends "base/editable_table.html" %}
{% load  wechat_menu_tags %}
{% load form_table_tags %}
{% block table_head %}
    <tr>
        <th>选择</th>
        <th>名称</th>
        <th>类型</th>
        <th>事件</th>
        <th>上级菜单</th>
        <th>同步时间</th>
        <th>编辑</th>

    </tr>
{% endblock %}
{% block table_datas %}
    {% autoescape off %}

        {{ foo|create_choose_html }}
    {% endautoescape %}


    <td {% if foo.menu_level == 1 %}
        class="text-bold" style="color: #00a7d0"
    {% endif %}> {{ foo.menu_name }}</td>
    <td>{{ foo.get_menu_type_display }}</td>
    <td>{{ foo | format_menu_info }}</td>
    <td {% if foo.menu_level == 1 %}

        class="text-bold" style="color: #00a7d0"

    {% endif %}>{{ foo.id |get_menu_parent }}</td>
    <td>{% if foo.sync_status %}
        {{ foo.created_time }}
    {% else %}
        未同步
    {% endif %}
    </td>

    {% autoescape off %}

        <td>{{ foo|create_action }}</td>
    {% endautoescape %}


{% endblock %}



