{% extends "base/index.html" %}
{% block content %}

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            成功提示
        </h1>

    </section>

    <!-- Main content -->
    <section class="content">

        <div class="error-page">
            <h2 class="headline text-red">Success</h2>

            <div class="error-content">
                <h3><i class="fa fa-check text-red"></i>您的请求已成功处理</h3>

                <p>
                    {{ success_msg |default:''}}
                </p>
                <p>
                    {#                    返回前一页#}
                    <a href="javascript:window.location.href=window.document.referrer">
                        <button class="btn-lg btn-primary">返回</button>
                    </a>
                    <a href="/">
                        <button class="btn-lg btn-danger ">首页</button>
                    </a>

                </p>


            </div>
        </div>
        <!-- /.error-page -->

    </section>
    <!-- /.content -->

{% endblock %}